<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Delete Author</title>
</head>
<body>
<form action="/author/deletes" method="post" onsubmit="return confirm('Do you really want to delete?');">
  <label for="authorId">Author ID:</label>
  <input type="text" id="authorId" name="authorId" required>
  <button type="submit">Delete Author</button>
</form>
<form method="get" >
  <button type="submit" formaction="/">Back</button>
</form>
</body>
</html>
