<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Books</title>
</head>
<body>
<h1>Add new Book</h1>
<form method="post" action="/books/save">
  <label for="title">Title:</label>
  <br/>
  <input type="text" id="title" name="title" required>
  <br/><br/>
  <label for="year">Year:</label>
  <br/>
  <input type="text" id="year" name="year" required>
  <br/><br/>
  <label for="authorID">Author ID:</label>
  <br/>
  <input type="text" id="authorID" name="authorID" required>
  <br/><br/>
  <button type="submit">Save Book!</button>
</form>
<form method="get" >
  <button id="second" type="submit" formaction="/authorForm">Go to Author Form</button>
  <button id="third" type="submit" formaction="/books/view">View All Books</button>
  <button type="submit" formaction="/">Back</button>
</form>

</body>
</html>